.parent {
  border: 2px solid black;
  height: 900px;
  display: flex;
  /* 
  flex-direction: row;
  flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse */
  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* justify-content: end; */
  /* justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly; */
  /* align-items: baseline;
  align-items: center;
  align-items: end; */
  /* justify-content: end;
  align-items: baseline; */



  
  flex-wrap: nowrap;
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
  align-content:baseline ;
  /* align-content:center ;
  align-content:end ;
  align-content:space-around ;
  align-content:space-evenly ;
  align-content:space-between ; */
/* 
  row-gap:10px ;
  column-gap:10px ; */
  /* gap: 100px; */
}

.box {
  border: 2px solid rgb(223, 12, 12);
  height: 100px;
  width: 100px;
}
