* {
  margin: 0;
  padding: 0;
}
.box {
  border: 2px solid black;
  width: 200px;
  height: 200px;

  /* display:  ; */
  /* inline  */
  /* block  */
  /* inline-block */
  /* display: block;
  display: inline; */
  display: inline-block;
}
.box1 {
  /* display: none; */
  /* visibility: visible; */
  /* visibility: hidden; */

  /* overflow: visible; */
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: auto; */
  /* overflow-x: ;
   overflow-y: ; */
}
